<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Mothers name is: {{ caregiver_name.last_name }}, {{ caregiver_name.first_name }}</h1>
    <ul>
        <li>Echo ID: {{ caregiver.charm_project_identifier }}</li>
        <li>Date of Birth: {{ caregiver.date_of_birth }}</li>
        <li>EWCP Participant Identifier: {{ caregiver.ewcp_participant_identifier }}</li>
        <li>Participation Level Identifier: {{ caregiver.participation_level_identifier }}</li>
        <li>Echo Pin: {{ caregiver.echo_pin }}</li>
        <li>Specimen Id: {{ caregiver.specimen_id }}</li>
    </ul>
    <h2>Contact Information:</h2>
        <p>
            Address: {{ caregiver_address.address_line_1 }}<br>
                     {{ caregiver_address.address_line_2|default_if_none:"Empty" }}
                     {{ caregiver_address.city }}<br>
                     {{ caregiver_address.state }}<br>
                     {{ caregiver_address.zip_code }}<br>
        </p>
        <p>Email Primary: {{ caregiver_email_primary.email }}</p>
        <p>Email Secondary: {{ caregiver_email_secondary.email }}</p>
        <p>Primary Phone: {{ caregiver_phone_primary.area_code }}-{{ caregiver_phone_primary.phone_number }}</p>
        <p>Secondary Phone: {{ caregiver_phone_secondary.area_code }}-{{ caregiver_phone_secondary.phone_number }}</p>
    <h3>Personal Contact</h3>
        Contact A First Name: John
        Contact A Last Name: Jones
    <h2>Social Media</h2>
        <ul>
            {% for social_media_account in caregiver_social_media %}
            <li>
                {{ social_media_account.social_media_name }}: {{ social_media_account.caregiversocialmedia.social_media_user_name }}
            </li>
            {% endfor %}
        </ul>
</body>
</html>