<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>ID</h2>
        <div class="mother_id">
            <div class="charm_id">
                Charm Id: {{ caregiver.charm_project_identifier }}
            </div>
            <div class="family_id">
                Family Id: {{ caregiver.specimen_id }}
            </div>
        </div>
    <h2>Serum</h2>
        <div class="mother_serum">
            {% for serum in biospecimen_serum %}
                <div class="{{ serum.collection_fk.collection_type }}{{ serum.collection_fk.collection_number }}">
                    <div class="{{ serum.collection_fk.collection_type }}{{ serum.collection_fk.collection_number }}_status">
                    {{ serum.collection_fk.collection_type }} {{ serum.collection_fk.collection_number }}: {{ serum.status_fk.status }}
                    </div>
                    <div class="{{ serum.collection_fk.collection_type }}{{ serum.collection_fk.collection_number }}_date">
                    Date: {{ serum.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Plasma</h2>
        <div class="mother_plasma">
            {% for plasma in biospecimen_plasma %}
                <div class="{{ plasma.collection_fk.collection_type }}{{ plasma.collection_fk.collection_number }}">
                    <div class="{{ plasma.collection_fk.collection_type }}{{ plasma.collection_fk.collection_number }}_status">
                    {{ plasma.collection_fk.collection_type }} {{ plasma.collection_fk.collection_number }}: {{ plasma.status_fk.status }}
                    </div>
                    <div class="{{ plasma.collection_fk.collection_type }}{{ plasma.collection_fk.collection_number }}_date">
                    Date: {{ plasma.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Bloodspots</h2>
        <div class="mother_bloodspots">
            {% for bloodspots in biospecimen_bloodspots %}
                <div class="{{ bloodspots.collection_fk.collection_type }}{{ bloodspots.collection_fk.collection_number }}">
                    <div class="{{ bloodspots.collection_fk.collection_type }}{{ bloodspots.collection_fk.collection_number }}_status">
                    {{ bloodspots.collection_fk.collection_type }} {{ bloodspots.collection_fk.collection_number }}: {{ bloodspots.status_fk.status }}
                    </div>
                    <div class="{{ bloodspots.collection_fk.collection_type }}{{ bloodspots.collection_fk.collection_number }}_date">
                    Date: {{ bloodspots.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Whole Blood</h2>
        <div class="mother_whole_blood">
            {% for whole_blood in biospecimen_whole_blood %}
                <div class="{{ whole_blood.collection_fk.collection_type }}{{ whole_blood.collection_fk.collection_number }}">
                    <div class="{{ whole_blood.collection_fk.collection_type }}{{ whole_blood.collection_fk.collection_number }}_status">
                    {{ whole_blood.collection_fk.collection_type }} {{ whole_blood.collection_fk.collection_number }}: {{ whole_blood.status_fk.status }}
                    </div>
                    <div class="{{ whole_blood.collection_fk.collection_type }}{{ whole_blood.collection_fk.collection_number }}_date">
                    Date: {{ whole_blood.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Buffy Coat</h2>
        <div class="mother_buffy_coat">
            {% for buffy_coat in biospecimen_buffy_coat %}
                <div class="{{ buffy_coat.collection_fk.collection_type }}{{ buffy_coat.collection_fk.collection_number }}">
                    <div class="{{ buffy_coat.collection_fk.collection_type }}{{ buffy_coat.collection_fk.collection_number }}_status">
                    {{ buffy_coat.collection_fk.collection_type }} {{ buffy_coat.collection_fk.collection_number }}: {{ buffy_coat.status_fk.status }}
                    </div>
                    <div class="{{ buffy_coat.collection_fk.collection_type }}{{ buffy_coat.collection_fk.collection_number }}_date">
                    Date: {{ buffy_coat.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Red Blood Cells</h2>
        <div class="mother_red_blood_cells">
            {% for red_blood in biospecimen_red_blood_cells %}
                <div class="{{ red_blood.collection_fk.collection_type }}{{ red_blood.collection_fk.collection_number }}">
                    <div class="{{ red_blood.collection_fk.collection_type }}{{ red_blood.collection_fk.collection_number }}_status">
                    {{ red_blood.collection_fk.collection_type }} {{ red_blood.collection_fk.collection_number }}: {{ red_blood.status_fk.status }}
                    </div>
                    <div class="{{ red_blood.collection_fk.collection_type }}{{ red_blood.collection_fk.collection_number }}_date">
                    Date: {{ red_blood.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Urine</h2>
        <div class="mother_urine">
            {% for urine in biospecimen_urines %}
                <div class="{{ urine.collection_fk.collection_type }}{{ urine.collection_fk.collection_number }}">
                    <div class="{{ urine.collection_fk.collection_type }}{{ urine.collection_fk.collection_number }}_status">
                    {{ urine.collection_fk.collection_type }} {{ urine.collection_fk.collection_number }}: {{ urine.status_fk.status }}
                    </div>
                    <div class="{{ urine.collection_fk.collection_type }}{{ urine.collection_fk.collection_number }}_date">
                    Date: {{ urine.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Hair</h2>
        <div class="mother_hair">
            {% for hair in biospecimen_hair %}
                <div class="{{ hair.collection_fk.collection_type }}{{ hair.collection_fk.collection_number }}">
                    <div class="{{ hair.collection_fk.collection_type }}{{ hair.collection_fk.collection_number }}_status">
                    {{ hair.collection_fk.collection_number }} {{ hair.collection_fk.collection_type }}: {{ hair.status_fk.status }}
                    </div>
                    <div class="{{ hair.collection_fk.collection_type }}{{ hair.collection_fk.collection_number }}_date">
                    {{ hair.collection_fk.collection_number }} {{ hair.collection_fk.collection_type }} Date: {{ hair.biospecimen_date }}
                    </div>
                    <div class="{{ hair.collection_fk.collection_type }}{{ hair.collection_fk.collection_number }}_gc">
                    {{ hair.collection_fk.collection_number }} {{ hair.collection_fk.collection_type }} GC: {{ hair.incentive_fk.incentive_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Toenails</h2>
        <div class="mother_toenails">
            {% for toenail in biospecimen_toenail %}
                <div class="{{ toenail.collection_fk.collection_type }}{{ toenail.collection_fk.collection_number }}">
                    <div class="{{ toenail.collection_fk.collection_type }}{{ toenail.collection_fk.collection_number }}_status">
                    {{ toenail.collection_fk.collection_number }} {{ toenail.collection_fk.collection_type }}: {{ toenail.status_fk.status }}
                    </div>
                    <div class="{{ toenail.collection_fk.collection_type }}{{ toenail.collection_fk.collection_number }}_date">
                    {{ toenail.collection_fk.collection_number }} {{ toenail.collection_fk.collection_type }} Date: {{ toenail.biospecimen_date }}
                    </div>
                    <div class="{{ toenail.collection_fk.collection_type }}{{ toenail.collection_fk.collection_number }}_gc">
                    {{ toenail.collection_fk.collection_number }} {{ toenail.collection_fk.collection_type }} GC: {{ toenail.incentive_fk.incentive_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Saliva</h2>
        <div class="mother_saliva">
            {% for saliva in biospecimen_saliva %}
                <div class="{{ saliva.collection_fk.collection_type }}{{ saliva.collection_fk.collection_number }}">
                    <div class="{{ saliva.collection_fk.collection_type }}{{ saliva.collection_fk.collection_number }}_status">
                    {{ saliva.collection_fk.collection_number|default_if_none:"" }} {{ saliva.collection_fk.collection_type }}: {{ saliva.status_fk.status }}
                    </div>
                    <div class="{{ saliva.collection_fk.collection_type }}{{ saliva.collection_fk.collection_number }}_date">
                    {{ saliva.collection_fk.collection_number|default_if_none:"" }} {{ saliva.collection_fk.collection_type }} Date: {{ saliva.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>
    <h2>Placenta</h2>
        <div class="mother_placenta">
            {% for placenta in biospecimen_placenta %}
                <div class="{{ placenta.collection_fk.collection_type }}{{ placenta.collection_fk.collection_number }}">
                    <div class="{{ placenta.collection_fk.collection_type }}{{ placenta.collection_fk.collection_number }}_status">
                    {{ placenta.collection_fk.collection_number|default_if_none:"" }} {{ placenta.collection_fk.collection_type }}: {{ placenta.status_fk.status }}
                    </div>
                    <div class="{{ placenta.collection_fk.collection_type }}{{ placenta.collection_fk.collection_number }}_date">
                    {{ placenta.collection_fk.collection_number|default_if_none:"" }} {{ placenta.collection_fk.collection_type }} Date: {{ placenta.biospecimen_date }}
                    </div>
                </div>
            {% endfor %}
        </div>



{#        {% regroup biospecimens by  biospecimens.collection_fk.collection_type as bio_list %}#}
{#        {% for bio in bio_list %}#}
{#            {{ bio }}#}
{#        {% for biospecimen in biospecimens.values %}#}
{#                <h2>{{ biospecimen }}</h2>#}
{#            {{ biospecimen.collection_fk.collection_type }} {{ biospecimen.collection_fk.collection_number }}: {{ biospecimen.status_fk.status }}#}
{#        {% endfor %}#}
{#        {% endfor %}#}

</body>
</html>