{% extends "dataview/base.html" %}
{% block header %}Mother's name is: {{ caregiver_name.last_name }}, {{ caregiver_name.first_name }}{% endblock %}
{% block section %}
    <ul>
        <li>Echo ID: {{ caregiver.charm_project_identifier }}</li>
        <li>Date of Birth: {{ caregiver.date_of_birth }}</li>
        <li>EWCP Participant Identifier: {{ caregiver.ewcp_participant_identifier }}</li>
        <li>Participation Level Identifier: {{ caregiver.participation_level_identifier }}</li>
        <li>Echo Pin: {{ caregiver.echo_pin }}</li>
        <li>Specimen Id: {{ caregiver.specimen_id }}</li>
    </ul>
    <h2>Contact Information:</h2>
        <p>
            Address: {{ caregiver_address.address_line_1 }}<br>
                     {{ caregiver_address.address_line_2|default_if_none:"Empty" }}
                     {{ caregiver_address.city }}<br>
                     {{ caregiver_address.state }}<br>
                     {{ caregiver_address.zip_code }}<br>
        </p>
        <p>Email Primary: {{ caregiver_email_primary.email }}</p>
        <p>Email Secondary: {{ caregiver_email_secondary.email }}</p>
        <p>Primary Phone: {{ caregiver_phone_primary.area_code }}-{{ caregiver_phone_primary.phone_number }}</p>
        <p>Secondary Phone: {{ caregiver_phone_secondary.area_code }}-{{ caregiver_phone_secondary.phone_number }}</p>
    <h2>Personal Contact:</h2>
        <h3>Contact A</h3>
            <ul>
                <li>Contact A First Name: {{ contact_a.name_fk.first_name }}</li>
                <li>Contact A Last Name: {{ contact_a.name_fk.last_name}}</li>
                <li>Contact A Phone Number: {{ contact_a.phone_fk.area_code}}-{{ contact_a.phone_fk.phone_number }}</li>
                <li>Contact A Address: {{ contact_a.address_fk.address_line_1 }} {{ contact_a.address_fk.address_line_2|default_if_none:"Empty" }} {{ contact_a.address_fk.city }}, {{ contact_a.address_fk.state}} {{ contact_a.address_fk.zip_code }}</li>
                <li>Contact A Email: {{ contact_a.email_fk.email }}</li>
            </ul>
        {% if contact_b %}
        <h3>Contact B</h3>
            <ul>
                <li>Contact B First Name: {{ contact_b.name_fk.first_name}}</li>
                <li>Contact B Last Name: {{ contact_b.name_fk.last_name}}</li>
                <li>Contact B Phone Number: {{ contact_b.phone_fk.area_code}}-{{ contact_b.phone_fk.phone_number }}</li>
                <li>Contact B Address: {{ contact_b.address_fk.address_line_1 }} {{ contact_b.address_fk.address_line_2|default_if_none:"Empty" }} {{ contact_b.address_fk.city }}, {{ contact_b.address_fk.state}} {{ contact_b.address_fk.zip_code }}</li>
                <li>Contact B Email: {{ contact_b.email_fk.email }}</li>
            </ul>
        {% else %}
        {% endif %}

    <h2>Social Media</h2>
        <ul>
            {% for social_media_account in caregiver_social_media %}
            <li>
                {{ social_media_account.social_media_fk.social_media_name }}: {{ social_media_account.social_media_user_name }}
            </li>
            {% endfor %}
        </ul>

{% endblock %}