{% extends "dataview/base.html" %}
{% block section %}
        <h2>Caregiver Charm Sample Identifiers:</h2>
        <ul>
            {% for person in mother_or_caregiver %}
                <li>{{ person.charm_project_identifier }}</li>
                    <ul id="caregiver links">
                        <li><a href="{% url "dataview:caregiver_info" person.charm_project_identifier %}">Information Page</a></li>
                        <li><a href="{% url "dataview:caregiver_biospecimen" person.charm_project_identifier%}">Biospecimen</a></li>
                        <li><a href="{% url "dataview:caregiver_survey" person.charm_project_identifier%}">Surveys</a></li>
                        <li><a href="{% url "dataview:caregiver_consent_item" person.charm_project_identifier%}">Consent Items</a></li>
                    </ul>
            {% endfor %}
        </ul>
{% endblock %}