{% extends "dataview/base.html" %}
{% block header %}Child's name is: {{ child_name.last_name }}, {{ child_name.first_name }}{% endblock %}
{% block section %}
    <ul>
        <li>Echo ID: {{ child.charm_project_identifier }}</li>
        <li>Date of Birth: {{ child.birth_date }}</li>
        <li>Race: {{ child.race_fk.get_race_display }}</li>
        <li>Ethnicity: {{ child.ethnicity_fk.get_ethnicity_display }}</li>
        <li>Birth Sex: {{ child.get_birth_sex_display }}</li>
        <li>Birth Hospital: {{ child.birth_hospital }}</li>
        <li>Is twin?: {{ child.child_twin }}</li>
        <li>Child Interviewer Comments: {{ child.child_interviewer_comments }}</li>
    </ul>
    <h2>Caregiver Information</h2>
        <ul>
            <li>Caregiver's Charm ID:
                {% if child.primary_care_giver_fk.mother_fk.caregiver_fk.charm_project_identifier   %}
                    <a href={% url "dataview:caregiver_info" child.primary_care_giver_fk.mother_fk.caregiver_fk.charm_project_identifier  %}> {{  child.primary_care_giver_fk.mother_fk.caregiver_fk.charm_project_identifier }}</a></li>
                {% elif child.primary_care_giver_fk.non_mother_caregiver_fk.caregiver_fk.charm_project_identifier %}
                    <a href={% url "dataview:caregiver_info" child.primary_care_giver_fk.non_mother_caregiver_fk.caregiver_fk.charm_project_identifier %}> {{ child.primary_care_giver_fk.non_mother_caregiver_fk.caregiver_fk.charm_project_identifier }}</a></li>
                {%  else %}
                    <li>No PCG!</li>
                {% endif %}
            <li>Is biological mother?: {{ child.is_caregiver_mother }}</li>
            {% if not  child.is_caregiver_mother  %}
            <li>Relation: {{ child.primary_care_giver_fk.non_mother_caregiver_fk.relation_fk }}</li>
            {% endif %}
        </ul>
    <h2>Contact Information</h2>
        <p>
            Address: {{ child_address.address_line_1 }}<br>
                     {{ child_address.address_line_2|default_if_none:"Empty" }}
                     {{ child_address.city }}<br>
                     {{ child_address.state }}<br>
                     {{ child_address.zip_code }}<br>
        </p>

{% endblock %}