{% extends "dataview/base.html" %}
{% block header %}Caregiver Charm Sample Identifiers: {% endblock %}
{% block section %}

    <ul>
    {% for child in children %}
        <li>{{ child.charm_project_identifier }}</li>
            <ul>
                <li><a href={% url "dataview:child_information_page" child.charm_project_identifier %}>Information Page</a></li>
                <li><a href={% url "dataview:child_survey_page" child.charm_project_identifier %}>Survey Page</a></li>
            </ul>
    {% endfor %}
    </ul>
{% endblock %}