{% extends "biospecimen/base.html" %}
{% block header %}Charm ID: {{ caregiver.charm_project_identifier }} Family ID: {{ caregiver.specimen_id }}{% endblock %}
{% block section %}
    {% for bio_collection in caregiver_collections %}
      <h2>{{ bio_collection }}</h2>
        {% for caregiver_bio in caregiver_biospecimens %}
            {% if caregiver_bio.collection_fk.collection_type == bio_collection and caregiver_bio.collection_fk.collection_number %}
                {{ caregiver_bio.collection_fk.collection_type }} {{ caregiver_bio.collection_fk.collection_number|default_if_none:"" }}: {{ caregiver_bio.status_fk.shipped_fk.outcome_fk.get_outcome_display }}
            {% elif caregiver_bio.collection_fk.collection_type != bio_collection %}
            {% else %}
                <p>No biospecimen of this type</p>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}