{% extends "biospecimen/caregiver_biospecimen_entry_base.html" %}
{% block javascript_block %}
    <script type="text/javascript" src="/static/biospecimen/js/datetime_test.js" async></script>
{% endblock %}
{% block bio_logic %}
    {% if caregiver_bio.status_fk and caregiver_bio.status_fk.collected_fk and not caregiver_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Collected Form</h2>
            {{ collected_form.non_field_errors }}
              <div class="form-group">
                {{ collected_form.other_water_date_time.errors }}
                <label for="{{ collected_form.other_water_date_time.id_for_label }}" class="form-label">{{ collected_form.other_water_date_time.label }}</label>
                {{ collected_form.other_water_date_time }}
              </div>
              <div class="form-group">
                {{ collected_form.collected_date_time.errors }}
                <label for="{{ collected_form.collected_date_time.id_for_label }}" class="form-label">{{ collected_form.collected_date_time.label }}</label>
                {{ collected_form.collected_date_time }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_1.errors }}
                <label for="{{ collected_form.tube_1.id_for_label }}" class="form-label">{{ collected_form.tube_1.label }}</label>
                {{ collected_form.tube_1 }}
              </div>
              <div class="form-group" id="tube_1_estimated_volume">
                {{ collected_form.tube_1_estimated_volume.errors }}
                <label for="{{ collected_form.tube_1_estimated_volume.id_for_label }}" class="form-label">{{ collected_form.tube_1_estimated_volume.label }}</label>
                {{ collected_form.tube_1_estimated_volume }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_1_hemolysis.errors }}
                <label for="{{ collected_form.tube_1_hemolysis.id_for_label }}" class="form-label">{{ collected_form.tube_1_hemolysis.label }}</label>
                {{ collected_form.tube_1_hemolysis }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_2.errors }}
                <label for="{{ collected_form.tube_2.id_for_label }}" class="form-label">{{ collected_form.tube_2.label }}</label>
                {{ collected_form.tube_2 }}
              </div>
              <div class="form-group" id="tube_2_estimated_volume">
                {{ collected_form.tube_2_estimated_volume.errors }}
                <label for="{{ collected_form.tube_2_estimated_volume.id_for_label }}" class="form-label">{{ collected_form.tube_2_estimated_volume.label }}</label>
                {{ collected_form.tube_2_estimated_volume }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_2_hemolysis.errors }}
                <label for="{{ collected_form.tube_2_hemolysis.id_for_label }}" class="form-label">{{ collected_form.tube_2_hemolysis.label }}</label>
                {{ collected_form.tube_2_hemolysis }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_3.errors }}
                <label for="{{ collected_form.tube_3.id_for_label }}" class="form-label">{{ collected_form.tube_3.label }}</label>
                {{ collected_form.tube_3 }}
              </div>
              <div class="form-group" id="tube_3_estimated_volume">
                {{ collected_form.tube_3_estimated_volume.errors }}
                <label for="{{ collected_form.tube_3_estimated_volume.id_for_label }}" class="form-label">{{ collected_form.tube_3_estimated_volume.label }}</label>
                {{ collected_form.tube_3_estimated_volume }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_3_hemolysis.errors }}
                <label for="{{ collected_form.tube_3_hemolysis.id_for_label }}" class="form-label">{{ collected_form.tube_3_hemolysis.label }}</label>
                {{ collected_form.tube_3_hemolysis }}
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk and caregiver_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_blood_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Collected</button>
            </div>
            <div class="col-8">
                <div>Collected Date Time:{{ caregiver_bio.status_fk.collected_fk.collected_date_time }}</div>
                <div>When was the last time the participant ate or drank anything other than plain water?:{{ caregiver_bio.status_fk.collected_fk.other_water_date_time }}</div>
                <div>Logged By:{{ caregiver_bio.status_fk.collected_fk.logged_by }}</div>
                    <div class="container">
                        <div class="row">
                {% for blood in caregiver_bloods_collected %}
                            <div class="col-sm border border-primary p-3 rounded">
                                <div class="row"><p class="font-weight-bold">Tube #{{ blood.tube_number }}:</p></div>
                                <div class="row">Complete or Partial: {{ blood.get_complete_or_partial_display }}</div>
                                <div class="row"> Blood Type: {{ blood.get_tube_type_display }}</div>
                                <div class="row">Hemolysis: {{ blood.get_hemolysis_display }}</div>
                                <div class="row">Estimated Volume: {{ blood.partial_estimated_volume }}</div>
                            </div>
                {% endfor %}
                        </div>
                    </div>

            </div>
        </div>
    {% else %}
    {% endif %}
    {% if processed_form %}
        <div id="processed_form" class="row border border-primary p-3 rounded">
            <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_blood_processed_post' charm_project_identifier caregiver_bio_pk %}>
            {% csrf_token %}
            <h2>Processed Form</h2>
             {{ processed_form.non_field_errors }}
              {{ processed_form.has_error }}
              {{ processed_form.errors }}
                <div class="form-group">
                {{ processed_form.processed_aliquoted_off_site.errors }}
                <label for="{{ processed_form.processed_aliquoted_off_site.id_for_label }}" class="form-label">If processed and aliquoted off site, under what conditions were the tubes transported to the processing site?</label>
                {{ processed_form.processed_aliquoted_off_site }}
                </div>
                <div class="form-group">
                {{ processed_form.specimen_received_date_time.errors }}
                <label for="{{ processed_form.specimen_received_date_time.id_for_label }}" class="form-label">If anything other than Not Applicable: When was the specimen received at the processing site?</label>
                {{ processed_form.specimen_received_date_time }}
                </div>
                <div class="form-group">
                {{ processed_form.edta_purple_tube_refrigerated_prior_to_centrifuge.errors }}
                <label for="{{ processed_form.edta_purple_tube_refrigerated_prior_to_centrifuge.id_for_label }}" class="form-label">Were the purple EDTA tubes placed at refrigerated temperature prior to centrifuging?</label>
                {{ processed_form.edta_purple_tube_refrigerated_prior_to_centrifuge }}
                </div>
                <div class="form-group">
                {{ processed_form.edta_purple_refrigerated_placed_date_time.errors }}
                <label for="{{ processed_form.edta_purple_refrigerated_placed_date_time.id_for_label }}" class="form-label">If Yes, date and time EDTA tubes were placed at refrigerated temperature prior to centrifuging</label>
                {{ processed_form.edta_purple_refrigerated_placed_date_time }}
                </div>
                <div class="form-group">
                {{ processed_form.edta_purple_refrigerated_removed_date_time.errors }}
                <label for="{{ processed_form.edta_purple_refrigerated_removed_date_time.id_for_label }}" class="form-label">If Yes, date and time EDTA tubes were removed from refrigerated temperature for centrifuging</label>
                {{ processed_form.edta_purple_refrigerated_removed_date_time }}
                </div>
                <div class="form-group">
                {{ processed_form.whole_blood_blue_cap_collected.errors }}
                <label for="{{ processed_form.whole_blood_blue_cap_collected.id_for_label }}" class="form-label">Were both Whole Blood aliquots collected? (blue cap)</label>
                {{ processed_form.whole_blood_blue_cap_collected }}
                </div>
                <div class="form-group">
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_1_collected.errors }}
                <label for="{{ processed_form.whole_blood_blue_cap_partial_aliquot_number_1_collected.id_for_label }}" class="form-label">Whole Blood aliquot #1 (blue cap) collected?</label>
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_1_collected }}
                </div>
                <div class="form-group">
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_1_amount.errors }}
                <label for="{{ processed_form.whole_blood_blue_cap_partial_aliquot_number_1_amount.id_for_label }}" class="form-label">Whole Blood aliquot #1 (blue cap) amount:</label>
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_1_amount }}
                </div>
                <div class="form-group">
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_2_collected.errors }}
                <label for="{{ processed_form.whole_blood_blue_cap_partial_aliquot_number_2_collected.id_for_label }}" class="form-label">Whole Blood aliquot #2 (blue cap) collected?</label>
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_2_collected }}
                </div>
                <div class="form-group">
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_2_amount.errors }}
                <label for="{{ processed_form.whole_blood_blue_cap_partial_aliquot_number_2_amount.id_for_label }}" class="form-label">Whole Blood aliquot #2 (blue cap) amount:</label>
                {{ processed_form.whole_blood_blue_cap_partial_aliquot_number_2_amount }}
                </div>
                <div class="form-group">
                {{ processed_form.blood_spot_card_completed.errors }}
                <label for="{{ processed_form.blood_spot_card_completed.id_for_label }}" class="form-label">{{ processed_form.blood_spot_card_completed.label}}</label>
                {{ processed_form.blood_spot_card_completed }}
                </div>
                <div class="form-group">
                {{ processed_form.vacutainer_centrifuge_start_time.errors }}
                <label for="{{ processed_form.vacutainer_centrifuge_start_time.id_for_label }}" class="form-label">{{ processed_form.vacutainer_centrifuge_start_time.label }}</label>
                {{ processed_form.vacutainer_centrifuge_start_time }}
                </div>
                <div class="form-group">
                {{ processed_form.vacutainer_centrifuge_end_time.errors }}
                <label for="{{ processed_form.vacutainer_centrifuge_end_time.id_for_label }}" class="form-label">{{ processed_form.vacutainer_centrifuge_end_time.label }}</label>
                {{ processed_form.vacutainer_centrifuge_end_time }}
                </div>
                <div class="form-group">
                {{ processed_form.plasma_purple_cap_200_ml_all_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_200_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_200_ml_all_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_200_ml_all_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_200_ml_number_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_200_ml_number_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_200_ml_number_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_200_ml_number_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_all_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_amount.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_amount.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_amount.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_1_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_amount.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_amount.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_amount.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_2_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_collected }}
                </div>
                                <div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_amount.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_amount.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_amount.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_number_3_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.buffy_coat_green_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.buffy_coat_green_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.buffy_coat_green_cap_1_ml_all_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_collected.errors }}
                <label for="{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_collected.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_collected.label }}</label>
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_amount.errors }}
                <label for="{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_amount.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_amount.label }}</label>
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_1_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_collected.errors }}
                <label for="{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_collected.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_collected.label }}</label>
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_amount.errors }}
                <label for="{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_amount.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_amount.label }}</label>
                {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_number_2_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_collected.errors }}
                <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_collected.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_collected.label }}</label>
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_collected }}
                </div>
                                <div class="form-group">
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_amount.errors }}
                <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_amount.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_amount.label }}</label>
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_1_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_collected.errors }}
                <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_collected.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_collected.label }}</label>
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_amount.errors }}
                <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_amount.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_amount.label }}</label>
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_number_2_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_200_microl_all_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_200_microl_all_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_200_microl_all_collected.label }}</label>
                {{ processed_form.serum_red_cap_200_microl_all_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_200_microl_number_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_200_microl_number_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_200_microl_number_collected.label }}</label>
                {{ processed_form.serum_red_cap_200_microl_number_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.serum_red_cap_1_ml_all_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_collected.label }}</label>
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_amount.errors }}
                <label for="{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_amount.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_amount.label }}</label>
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_1_amount }}
                </div>
                <div class="form-group">
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_collected.label }}</label>
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_amount.errors }}
                <label for="{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_amount.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_amount.label }}</label>
                {{ processed_form.serum_red_cap_1_ml_partial_aliquot_number_2_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_collected.label }}</label>
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_amount.errors }}
                <label for="{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_amount.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_amount.label }}</label>
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_1_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_collected.label }}</label>
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_collected }}
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_amount.errors }}
                <label for="{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_amount.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_amount.label }}</label>
                {{ processed_form.serum_red_cap_1_mlpartial_aliquot_number_2_amount }}
                </div>
				<div class="form-group">
                {{ processed_form.notes.errors }}
                <label for="{{ processed_form.notes.id_for_label }}" class="form-label">{{ processed_form.notes.label }}</label>
                {{ processed_form.notes }}
                </div>

             <input type="submit" value="Submit" />
            </form>
        </div>
    {% endif %}
{#    {% if incentive_form and not caregiver_bio.incentive_fk.incentive_date%}#}
{#        <div id="incentive_form" class="row border border-primary p-3 rounded">#}
{#          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_incentive_post' charm_project_identifier caregiver_bio_pk %}>#}
{#          {% csrf_token %}#}
{#              <h2>Incentive Form</h2>#}
{#            {{ incentive_form.as_p }}#}
{#          <input type="submit" value="Submit" />#}
{#          </form>#}
{#        </div>#}
{#    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.incentive_fk and caregiver_bio.incentive_fk.incentive_date %}#}
{#        <div id="incentive_information" class="row border border-primary p-3 rounded">#}
{#            <div class="col-4">#}
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
{#                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Incentive Information</button>#}
{#            </div>#}
{#            <div class="col-8">#}
{#                <div>Incentive Date: {{ caregiver_bio.incentive_fk.incentive_date }}</div>#}
{#                {% for blood in caregiver_bloods_collected %}#}
{#                    <div class="form-check form-check-inline">#}
{#                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>#}
{#                      <label class="form-check-label" for="flexCheckCheckedDisabled">#}
{#                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}#}
{#                      </label>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
    {% if shipped_wsu_form  %}
        <div id="shipped_to_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_wsu_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to WSU Form</h2>
              {{ shipped_wsu_form.non_field_errors }}
              {{ shipped_wsu_form.has_error }}
              {{ shipped_wsu_form.errors }}

              <div class="form-group">
                {{ shipped_wsu_form.shipped_date_and_time.errors }}
                <label for="{{ shipped_wsu_form.shipped_date_and_time.id_for_label }}" class="form-label">Shipped Date Time:</label>
                {{ shipped_wsu_form.shipped_date_and_time }}
              </div>
              <div class="form-group">
                {{ shipped_wsu_form.tracking_number.errors }}
                <label for="{{ shipped_wsu_form.tracking_number.id_for_label }}" class="form-label">Tracking Number:</label>
                {{ shipped_wsu_form.tracking_number }}
              </div>
              <div class="form-group">
                {{ shipped_wsu_form.logged_date_time.errors }}
                <label for="{{ shipped_wsu_form.logged_date_time.id_for_label }}" class="form-label">Logged Date Time:</label>
                {{ shipped_wsu_form.logged_date_time }}
              </div>
              <div class="form-group">
                {{ shipped_wsu_form.courier.errors }}
                <label for="{{ shipped_wsu_form.courier.id_for_label }}" class="form-label">Courier:</label>
                {{ shipped_wsu_form.courier }}
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ shipped_wsu_form.whole_blood.errors }}
                    <label for="{{ shipped_wsu_form.whole_blood.id_for_label }}" class="col-form-label">Whole Blood:</label>
                    {{ shipped_wsu_form.whole_blood }}
                  </div>
                  <div class="col-auto" id="whole_blood_number_of_tubes_div">
                    {{ shipped_wsu_form.whole_blood_number_of_tubes.errors }}
                    <label for="{{ shipped_wsu_form.whole_blood_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ shipped_wsu_form.whole_blood_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ shipped_wsu_form.plasma.errors }}
                    <label for="{{ shipped_wsu_form.plasma.id_for_label }}" class="col-form-label">Plasma:</label>
                    {{ shipped_wsu_form.plasma }}
                  </div>
                  <div class="col-auto" id="plasma_number_of_tubes_div">
                    {{ shipped_wsu_form.plasma_number_of_tubes.errors }}
                    <label for="{{ shipped_wsu_form.plasma_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ shipped_wsu_form.plasma_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ shipped_wsu_form.buffy_coat.errors }}
                    <label for="{{ shipped_wsu_form.buffy_coat.id_for_label }}" class="col-form-label">Buffy Coat:</label>
                    {{ shipped_wsu_form.buffy_coat }}
                  </div>
                  <div class="col-auto" id="buffy_coat_number_of_tubes_div">
                    {{ shipped_wsu_form.buffy_coat_number_of_tubes.errors }}
                    <label for="{{ shipped_wsu_form.buffy_coat_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ shipped_wsu_form.buffy_coat_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ shipped_wsu_form.red_blood_cells.errors }}
                    <label for="{{ shipped_wsu_form.red_blood_cells.id_for_label }}" class="col-form-label">Red Blood Cells:</label>
                    {{ shipped_wsu_form.red_blood_cells }}
                  </div>
                  <div class="col-auto" id="red_blood_cells_number_of_tubes_div">
                    {{ shipped_wsu_form.red_blood_cells_number_of_tubes.errors }}
                    <label for="{{ shipped_wsu_form.red_blood_cells_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ shipped_wsu_form.red_blood_cells_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ shipped_wsu_form.serum.errors }}
                    <label for="{{ shipped_wsu_form.serum.id_for_label }}" class="col-form-label">Serum:</label>
                    {{ shipped_wsu_form.serum }}
                  </div>
                  <div class="col-auto" id="serum_number_of_tubes_div">
                    {{ shipped_wsu_form.serum_number_of_tubes.errors }}
                    <label for="{{ shipped_wsu_form.serum_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ shipped_wsu_form.serum_number_of_tubes }}
                  </div>
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.status_fk.shipped_wsu_fk and caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_time %}
        <div id="shipped_to_wsu_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped WSU</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time:{{ caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_time }}</div>
                <div>Courier: {{ caregiver_bio.status_fk.shipped_wsu_fk.get_courier_display }}</div>
                <div>Tracking Number:{{ caregiver_bio.status_fk.shipped_wsu_fk.tracking_number }}</div>
                <div>Number of Tubes: {{ caregiver_bio.status_fk.shipped_wsu_fk.number_of_tubes }}</div>
                <div>Shipped By: {{ caregiver_bio.status_fk.shipped_wsu_fk.shipped_by }}</div>
                {% for blood in caregiver_bloods_shipped_wsu %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if received_wsu_form and not caregiver_bio.status_fk.received_wsu_fk.received_date_time %}
        <div id="received_at_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_received_wsu_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Received at WSU Form</h2>
              {{ received_wsu_form.non_field_errors }}
              <div class="form-group">
                {{ received_wsu_form.shipped_date_and_time.errors }}
                <label for="{{ received_wsu_form.shipped_date_and_time.id_for_label }}" class="form-label">Received Date Time:</label>
                {{ received_wsu_form.received_date_time }}
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ received_wsu_form.whole_blood.errors }}
                    <label for="{{ received_wsu_form.whole_blood.id_for_label }}" class="col-form-label">Whole Blood:</label>
                    {{ received_wsu_form.whole_blood }}
                  </div>
                  <div class="col-auto" id="whole_blood_number_of_tubes_div">
                    {{ received_wsu_form.whole_blood_number_of_tubes.errors }}
                    <label for="{{ received_wsu_form.whole_blood_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ received_wsu_form.whole_blood_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ received_wsu_form.plasma.errors }}
                    <label for="{{ received_wsu_form.plasma.id_for_label }}" class="col-form-label">Plasma:</label>
                    {{ received_wsu_form.plasma }}
                  </div>
                  <div class="col-auto" id="plasma_number_of_tubes_div">
                    {{ received_wsu_form.plasma_number_of_tubes.errors }}
                    <label for="{{ received_wsu_form.plasma_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ received_wsu_form.plasma_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ received_wsu_form.buffy_coat.errors }}
                    <label for="{{ received_wsu_form.buffy_coat.id_for_label }}" class="col-form-label">Buffy Coat:</label>
                    {{ received_wsu_form.buffy_coat }}
                  </div>
                  <div class="col-auto" id="buffy_coat_number_of_tubes_div">
                    {{ received_wsu_form.buffy_coat_number_of_tubes.errors }}
                    <label for="{{ received_wsu_form.buffy_coat_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ received_wsu_form.buffy_coat_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ received_wsu_form.red_blood_cells.errors }}
                    <label for="{{ received_wsu_form.red_blood_cells.id_for_label }}" class="col-form-label">Red Blood Cells:</label>
                    {{ received_wsu_form.red_blood_cells }}
                  </div>
                  <div class="col-auto" id="red_blood_cells_number_of_tubes_div">
                    {{ received_wsu_form.red_blood_cells_number_of_tubes.errors }}
                    <label for="{{ received_wsu_form.red_blood_cells_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ received_wsu_form.red_blood_cells_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ received_wsu_form.serum.errors }}
                    <label for="{{ received_wsu_form.serum.id_for_label }}" class="col-form-label">Serum:</label>
                    {{ received_wsu_form.serum }}
                  </div>
                  <div class="col-auto" id="serum_number_of_tubes_div">
                    {{ received_wsu_form.serum_number_of_tubes.errors }}
                    <label for="{{ received_wsu_form.serum_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ received_wsu_form.serum_number_of_tubes }}
                  </div>
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.received_wsu_fk.received_date_time %}
        <div id="received_at_wsuinformation" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Received at WSU</button>
            </div>
            <div class="col-8">
                <div>Received at WSU {{ caregiver_bio.status_fk.received_wsu_fk.received_date_time }}</div>
                {% for blood in caregiver_bloods_received_wsu %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if shipped_echo_form and not caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_echo_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to ECHO Form</h2>
                 {{ shipped_echo_form.non_field_errors }}
              <div class="form-group">
                {{ shipped_echo_form.shipped_date_and_time.errors }}
                <label for="{{ shipped_echo_form.shipped_date_and_time.id_for_label }}" class="form-label">Shipped Date Time:</label>
                {{ shipped_echo_form.shipped_date_and_time }}
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.shipped_echo_fk and caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped Echo</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time: {{ caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time }}</div>
            </div>
        </div>

    {% endif %}
    {% if messages %}
                    {% for message in messages %}
                        <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Component Error</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">{{ message }}</div>
                                      <div class="modal-footer">
                                          <a type="button" id='modal-link' class="btn btn-secondary btn-lg">Confirm</a>
                                          <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal" id="modal_cancel_button">Cancel</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {#  Below is needed to reload javascript when user hits back button (which I imagine will happen)  #}
                                {#  https://stackoverflow.com/questions/9046184/reload-the-site-when-reached-via-browsers-back-button  #}
                                <input type="hidden" id="refresh" value="no">
                    {% endfor %}
    {% endif %}
{% endblock %}
{% block second_javascript %}
    <script type="text/javascript" src="/static/biospecimen/js/blood_component.js"></script>
    <script type="text/javascript" src="/static/biospecimen/js/not_collected.js"></script>
    <script type="text/javascript" src="/static/biospecimen/js/blood_collected.js"></script>
{% endblock %}