{% extends "biospecimen/base.html" %}
{% block header %}Charm ID : {{ charm_project_identifier }}{% endblock %}
{% block section %}
    <div class="row" id="biospecimen_information">
    <div class="col-sm">ID: {{ caregiver_bio.biospecimen_id }}</div>
    <div class="col-sm">Type: {{ caregiver_bio.collection_fk.collection_type }}</div>
    {#  Not sure what the below object was in the SRO version of this device    #}
    <div class="col-sm">Log Status: {{ biospecimen_item }}</div>
        <hr/>
    </div>
    {% if not caregiver_bio.status_fk.collected_fk %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Collected Form</h2>
            {{ collected_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk  %}
              <div id="collected_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Collected</button>
            </div>
            <div class="col-8">
                <div>Collected Date Time:{{ caregiver_bio.status_fk.collected_fk.collected_date_time }}</div>
                <div>Processed Date Time:{{ caregiver_bio.status_fk.collected_fk.processed_date_time}}</div>
                <div>Stored Date Time:{{ caregiver_bio.status_fk.collected_fk.stored_date_time  }}</div>
                <div>Quantity: {{ caregiver_bio.status_fk.collected_fk.number_of_tubes }}</div>
                <div>Logged By:BLANK</div>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}