{% extends "biospecimen/base.html" %}
{% block javascript_block %}
    <script type="text/javascript" src="/static/biospecimen/js/datetime_test.js" async></script>
{% endblock %}
{% block header %}Charm ID: {{ charm_project_identifier }}{% endblock %}
{% block section %}
    <div class="row" id="biospecimen_information">
    <div class="col-sm">ID: {{ caregiver_bio.biospecimen_id }}</div>
    <div class="col-sm">Type: {{ caregiver_bio.collection_fk.get_collection_type_display }}</div>
    {#  Not sure what the below object was in the SRO version of this device    #}
    {% if caregiver_bio.trimester_fk %}<div class="col-sm">Trimester: {{ caregiver_bio.trimester_fk.get_trimester_display }}</div>{% endif %}
        <hr/>
    </div>
{% endblock %}
{% block bio_logic %}
    {% if caregiver_bio.status_fk and caregiver_bio.status_fk.collected_fk and not caregiver_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Collected Form</h2>
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              {% endif %}
            {{ collected_form.non_field_errors }}
            {{ collected_form.has_error }}
            {{ collected_form.errors }}
              <div class="form-group">
                {{ collected_form.other_water_date_time.errors }}
                <label for="{{ collected_form.other_water_date_time.id_for_label }}" class="form-label">{{ collected_form.other_water_date_time.label }}</label>
                {{ collected_form.other_water_date_time }}
              </div>
              <div class="form-group">
                {{ collected_form.collected_date_time.errors }}
                <label for="{{ collected_form.collected_date_time.id_for_label }}" class="form-label">{{ collected_form.collected_date_time.label }}</label>
                {{ collected_form.collected_date_time }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_1.errors }}
                <label for="{{ collected_form.tube_1.id_for_label }}" class="form-label">{{ collected_form.tube_1.label }}</label>
                {{ collected_form.tube_1 }}
              </div>
              <div class="form-group" id="tube_1_estimated_volume">
                {{ collected_form.tube_1_estimated_volume.errors }}
                <label for="{{ collected_form.tube_1_estimated_volume.id_for_label }}" class="form-label">{{ collected_form.tube_1_estimated_volume.label }}</label>
                {{ collected_form.tube_1_estimated_volume }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_1_hemolysis.errors }}
                <label for="{{ collected_form.tube_1_hemolysis.id_for_label }}" class="form-label">{{ collected_form.tube_1_hemolysis.label }}</label>
                {{ collected_form.tube_1_hemolysis }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_2.errors }}
                <label for="{{ collected_form.tube_2.id_for_label }}" class="form-label">{{ collected_form.tube_2.label }}</label>
                {{ collected_form.tube_2 }}
              </div>
              <div class="form-group" id="tube_2_estimated_volume">
                {{ collected_form.tube_2_estimated_volume.errors }}
                <label for="{{ collected_form.tube_2_estimated_volume.id_for_label }}" class="form-label">{{ collected_form.tube_2_estimated_volume.label }}</label>
                {{ collected_form.tube_2_estimated_volume }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_2_hemolysis.errors }}
                <label for="{{ collected_form.tube_2_hemolysis.id_for_label }}" class="form-label">{{ collected_form.tube_2_hemolysis.label }}</label>
                {{ collected_form.tube_2_hemolysis }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_3.errors }}
                <label for="{{ collected_form.tube_3.id_for_label }}" class="form-label">{{ collected_form.tube_3.label }}</label>
                {{ collected_form.tube_3 }}
              </div>
              <div class="form-group" id="tube_3_estimated_volume">
                {{ collected_form.tube_3_estimated_volume.errors }}
                <label for="{{ collected_form.tube_3_estimated_volume.id_for_label }}" class="form-label">{{ collected_form.tube_3_estimated_volume.label }}</label>
                {{ collected_form.tube_3_estimated_volume }}
              </div>
              <div class="form-group">
                {{ collected_form.tube_3_hemolysis.errors }}
                <label for="{{ collected_form.tube_3_hemolysis.id_for_label }}" class="form-label">{{ collected_form.tube_3_hemolysis.label }}</label>
                {{ collected_form.tube_3_hemolysis }}
              </div>
              <div class="form-group">
                {{ collected_form.notes_and_deviations.errors }}
                <label for="{{ collected_form.notes_and_deviations.id_for_label }}" class="form-label">{{ collected_form.notes_and_deviations.label }}</label>
                {{ collected_form.notes_and_deviations }}
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk and caregiver_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_blood_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Collected</button>
            </div>
            <div class="col-8">
                <div>Collected Date Time: {{ caregiver_bio.status_fk.collected_fk.collected_date_time }}</div>
                <div>When was the last time the participant ate or drank anything other than plain water?: {{ caregiver_bio.status_fk.collected_fk.other_water_date_time }}</div>
                <div>Logged By: {{ caregiver_bio.status_fk.collected_fk.logged_by }}</div>
                <div>Notes and Deviations: {{ caregiver_bio.status_fk.collected_fk.notes_and_deviations }}</div>
                    <div class="container">
                        <div class="row">
                {% for blood in caregiver_bloods_collected %}
                            <div class="col-sm border border-primary p-3 rounded">
                                <div class="row"><p class="font-weight-bold">Tube #{{ blood.tube_number }}:</p></div>
                                <div class="row">Complete or Partial: {{ blood.get_complete_or_partial_display }}</div>
                                <div class="row"> Blood Type: {{ blood.get_tube_type_display }}</div>
                                <div class="row">Hemolysis: {{ blood.get_hemolysis_display }}</div>
                                <div class="row">Estimated Volume: {{ blood.partial_estimated_volume }}</div>
                            </div>
                {% endfor %}
                        </div>
                    </div>

            </div>
        </div>
    {% else %}
    {% endif %}
    {% if processed_form %}
        <div id="processed_form" class="row border border-primary p-3 rounded">
            <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_blood_processed_post' charm_project_identifier caregiver_bio_pk %}>
            {% csrf_token %}
            <h2>Processed Form</h2>
                {{ processed_form.non_field_errors }}
                {{ processed_form.has_error }}
                {{ processed_form.errors }}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="form-group">
                {{ processed_form.processed_aliquoted_off_site.errors }}
                <label for="{{ processed_form.processed_aliquoted_off_site.id_for_label }}" class="form-label">{{ processed_form.processed_aliquoted_off_site.label }}</label>
                {{ processed_form.processed_aliquoted_off_site }}
                </div>
                <div class="form-group" id="specimen_received_at_processing_site">
                {{ processed_form.specimen_received_date_time.errors }}
                <label for="{{ processed_form.specimen_received_date_time.id_for_label }}" class="form-label">{{ processed_form.specimen_received_date_time.label }}</label>
                {{ processed_form.specimen_received_date_time }}
                </div>
                <div class="form-group" id="edta_purple_tube_refrigerated_prior_to_centrifuge">
                {{ processed_form.edta_purple_tube_refrigerated_prior_to_centrifuge.errors }}
                <label for="{{ processed_form.edta_purple_tube_refrigerated_prior_to_centrifuge.id_for_label }}" class="form-label">{{ processed_form.edta_purple_tube_refrigerated_prior_to_centrifuge.label }}</label>
                {{ processed_form.edta_purple_tube_refrigerated_prior_to_centrifuge }}
                </div>
                <div class="form-group" id="edta_purple_refrigerated_placed_date_time">
                {{ processed_form.edta_purple_refrigerated_placed_date_time.errors }}
                <label for="{{ processed_form.edta_purple_refrigerated_placed_date_time.id_for_label }}" class="form-label">{{ processed_form.edta_purple_refrigerated_placed_date_time.label }}</label>
                {{ processed_form.edta_purple_refrigerated_placed_date_time }}
                </div>
                <div class="form-group" id="edta_purple_refrigerated_removed_date_time">
                {{ processed_form.edta_purple_refrigerated_removed_date_time.errors }}
                <label for="{{ processed_form.edta_purple_refrigerated_removed_date_time.id_for_label }}" class="form-label">{{ processed_form.edta_purple_refrigerated_removed_date_time.label }}</label>
                {{ processed_form.edta_purple_refrigerated_removed_date_time }}
                </div>
                <div class="form-group">
                {{ processed_form.whole_blood_blue_cap_all_collected.errors }}
                <label for="{{ processed_form.whole_blood_blue_cap_all_collected.id_for_label }}" class="form-label">{{ processed_form.whole_blood_blue_cap_all_collected.label }}</label>
                {{ processed_form.whole_blood_blue_cap_all_collected }}
                </div>
                <div id="whole_blood_aliquots_div">
                    <div class="form-group">
                    {{ processed_form.whole_blood_blue_cap_partial_aliquot_volume.errors }}
                    <label for="{{ processed_form.whole_blood_blue_cap_partial_aliquot_volume.id_for_label }}" class="form-label">{{ processed_form.whole_blood_blue_cap_partial_aliquot_volume.label }}</label>
                    {{ processed_form.whole_blood_blue_cap_partial_aliquot_volume }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.whole_blood_blue_cap_number_collected.errors }}
                    <label for="{{ processed_form.whole_blood_blue_cap_number_collected.id_for_label }}" class="form-label">{{ processed_form.whole_blood_blue_cap_number_collected.label }}</label>
                    {{ processed_form.whole_blood_blue_cap_number_collected }}
                    </div>
                </div>
                <div class="form-group">
                {{ processed_form.blood_spot_card_completed.errors }}
                <label for="{{ processed_form.blood_spot_card_completed.id_for_label }}" class="form-label">{{ processed_form.blood_spot_card_completed.label}}</label>
                {{ processed_form.blood_spot_card_completed }}
                </div>
                <div id="incomplete_blood_spot_card_div">
                    <div class="form-group">
                    {{ processed_form.blood_spot_card_number_of_complete_spots.errors }}
                    <label for="{{ processed_form.blood_spot_card_number_of_complete_spots.id_for_label }}" class="form-label">{{ processed_form.blood_spot_card_number_of_complete_spots.label}}</label>
                    {{ processed_form.blood_spot_card_number_of_complete_spots }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.blood_spot_card_number_of_dots_smaller_than_dotted_circle.errors }}
                    <label for="{{ processed_form.blood_spot_card_number_of_dots_smaller_than_dotted_circle.id_for_label }}" class="form-label">{{ processed_form.blood_spot_card_number_of_dots_smaller_than_dotted_circle.label }}</label>
                    {{ processed_form.blood_spot_card_number_of_dots_smaller_than_dotted_circle }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.blood_spot_card_number_of_dotted_circle_missing_blood_spot.errors }}
                    <label for="{{ processed_form.blood_spot_card_number_of_dotted_circle_missing_blood_spot.id_for_label }}" class="form-label">{{ processed_form.blood_spot_card_number_of_dotted_circle_missing_blood_spot.label }}</label>
                    {{ processed_form.blood_spot_card_number_of_dotted_circle_missing_blood_spot }}
                    </div>
                </div>
                <div class="form-group">
                {{ processed_form.vacutainer_centrifuge_start_time.errors }}
                <label for="{{ processed_form.vacutainer_centrifuge_start_time.id_for_label }}" class="form-label">{{ processed_form.vacutainer_centrifuge_start_time.label }}</label>
                {{ processed_form.vacutainer_centrifuge_start_time }}
                </div>
                <div class="form-group">
                {{ processed_form.vacutainer_centrifuge_end_time.errors }}
                <label for="{{ processed_form.vacutainer_centrifuge_end_time.id_for_label }}" class="form-label">{{ processed_form.vacutainer_centrifuge_end_time.label }}</label>
                {{ processed_form.vacutainer_centrifuge_end_time }}
                </div>
                <div class="form-group">
                {{ processed_form.plasma_purple_cap_200_microliter_all_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_200_microliter_all_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_200_microliter_all_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_200_microliter_all_collected }}
                </div>
                <div id="plasma_purple_cap_200_microliter_number_collected">
                    <div class="form-group">
                    {{ processed_form.plasma_purple_cap_200_microliter_partial_aliquot_volume.errors }}
                    <label for="{{ processed_form.plasma_purple_cap_200_microliter_partial_aliquot_volume.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_200_microliter_partial_aliquot_volume.label }}</label>
                    {{ processed_form.plasma_purple_cap_200_microliter_partial_aliquot_volume }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.plasma_purple_cap_200_microliter_number_collected.errors }}
                    <label for="{{ processed_form.plasma_purple_cap_200_microliter_number_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_200_microliter_number_collected.label }}</label>
                    {{ processed_form.plasma_purple_cap_200_microliter_number_collected }}
                    </div>
                </div>
				<div class="form-group">
                {{ processed_form.plasma_purple_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.plasma_purple_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.plasma_purple_cap_1_ml_all_collected }}
                </div>
                <div id="plasma_purple_cap_1_ml_partial_aliquots">
                    <div class="form-group">
                    {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_volume.errors }}
                    <label for="{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_volume.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_volume.label }}</label>
                    {{ processed_form.plasma_purple_cap_1_ml_partial_aliquot_volume }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.plasma_purple_cap_1_ml_number_collected.errors }}
                    <label for="{{ processed_form.plasma_purple_cap_1_ml_number_collected.id_for_label }}" class="form-label">{{ processed_form.plasma_purple_cap_1_ml_number_collected.label }}</label>
                    {{ processed_form.plasma_purple_cap_1_ml_number_collected }}
                    </div>
                </div>
				<div class="form-group">
                {{ processed_form.buffy_coat_green_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.buffy_coat_green_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.buffy_coat_green_cap_1_ml_all_collected }}
                </div>
                <div id="buffy_coat_partial_aliquots">
                    <div class="form-group">
                    {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_volume.errors }}
                    <label for="{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_volume.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_volume.label }}</label>
                    {{ processed_form.buffy_coat_green_cap_1_ml_partial_aliquot_volume }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.buffy_coat_green_cap_1_ml_number_collected.errors }}
                    <label for="{{ processed_form.buffy_coat_green_cap_1_ml_number_collected.id_for_label }}" class="form-label">{{ processed_form.buffy_coat_green_cap_1_ml_number_collected.label }}</label>
                    {{ processed_form.buffy_coat_green_cap_1_ml_number_collected }}
                    </div>
                </div>
				<div class="form-group">
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.red_blood_cells_yellow_cap_1_ml_all_collected }}
                </div>
                <div id="red_blood_cells_partial_aliquots">
                    <div class="form-group">
                    {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_volume.errors }}
                    <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_volume.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_volume.label }}</label>
                    {{ processed_form.red_blood_cells_yellow_cap_1_ml_partial_aliquot_volume }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.red_blood_cells_yellow_cap_1_ml_number_collected.errors }}
                    <label for="{{ processed_form.red_blood_cells_yellow_cap_1_ml_number_collected.id_for_label }}" class="form-label">{{ processed_form.red_blood_cells_yellow_cap_1_ml_number_collected.label }}</label>
                    {{ processed_form.red_blood_cells_yellow_cap_1_ml_number_collected }}
                    </div>
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_200_microl_all_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_200_microl_all_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_200_microl_all_collected.label }}</label>
                {{ processed_form.serum_red_cap_200_microl_all_collected }}
                </div>
                <div id="serum_red_cap_200_microl_number_aliquots_collected">
                    <div class="form-group">
                    {{ processed_form.serum_red_cap_200_microl_partial_aliquot_volume.errors }}
                    <label for="{{ processed_form.serum_red_cap_200_microl_partial_aliquot_volume.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_200_microl_partial_aliquot_volume.label }}</label>
                    {{ processed_form.serum_red_cap_200_microl_partial_aliquot_volume }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.serum_red_cap_200_microl_number_collected.errors }}
                    <label for="{{ processed_form.serum_red_cap_200_microl_number_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_200_microl_number_collected.label }}</label>
                    {{ processed_form.serum_red_cap_200_microl_number_collected }}
                    </div>
                </div>
				<div class="form-group">
                {{ processed_form.serum_red_cap_1_ml_all_collected.errors }}
                <label for="{{ processed_form.serum_red_cap_1_ml_all_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_all_collected.label }}</label>
                {{ processed_form.serum_red_cap_1_ml_all_collected }}
                </div>
                <div id="serum_red_cap_1_ml_partial_aliquots">
                    <div class="form-group">
                    {{ processed_form.serum_red_cap_1_ml_partial_aliquot_volume.errors }}
                    <label for="{{ processed_form.serum_red_cap_1_ml_partial_aliquot_volume.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_partial_aliquot_volume.label }}</label>
                    {{ processed_form.serum_red_cap_1_ml_partial_aliquot_volume }}
                    </div>
                    <div class="form-group">
                    {{ processed_form.serum_red_cap_1_ml_number_collected.errors }}
                    <label for="{{ processed_form.serum_red_cap_1_ml_number_collected.id_for_label }}" class="form-label">{{ processed_form.serum_red_cap_1_ml_number_collected.label }}</label>
                    {{ processed_form.serum_red_cap_1_ml_number_collected }}
                    </div>
                </div>
				<div class="form-group">
                {{ processed_form.notes.errors }}
                <label for="{{ processed_form.notes.id_for_label }}" class="form-label">{{ processed_form.notes.label }}</label>
                {{ processed_form.notes }}
                </div>
             <input type="submit" value="Submit" />
            </form>
        </div>
    {% elif processed_item %}
        <div id="processed_blood_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Processed Blood</button>
            </div>
            <div class="col-8">
                <div>Aliquoted off site: {{ caregiver_bio.status_fk.processed_blood_fk.get_processed_aliquoted_off_site_display }}</div>
                    {% if caregiver_bio.status_fk.processed_blood_fk.processed_aliquoted_off_site != 'N' %}
                    <div>Specimen Received Date Time: {{ caregiver_bio.status_fk.processed_blood_fk.specimen_received_date_time }}</div>
                    {% endif %}
                <div>Were the purple EDTA tubes placed at refrigerated temperature prior to centrifuging?: {{ caregiver_bio.status_fk.processed_blood_fk.purple_edta_tube_refrigerated_prior_to_centrifuge }}</div>
                    {% if caregiver_bio.status_fk.processed_blood_fk.purple_edta_tube_refrigerated_prior_to_centrifuge == True %}
                        <div>Date and time EDTA tubes were placed at refrigerated temperature prior to centrifuging: {{ caregiver_bio.status_fk.processed_blood_fk.purple_edta_refrigerated_placed_date_time }}</div>
                        <div>Date and time EDTA tubes were removed from refrigerated temperature prior to centrifuging: {{ caregiver_bio.status_fk.processed_blood_fk.purple_edta_refrigerated_removed_date_time }}</div>
                    {% endif %}
                <h3>Blood Spot Card</h3>
                {% if blood_spot_card.blood_spot_card_completed == "True" %}
                    Blood spot card completed? {{ blood_spot_card.blood_spot_card_completed }}
                {% else %}
                    <ul>
                        <li>Blood spot card completed? {{ blood_spot_card.blood_spot_card_completed }}</li>
                        <li>Number of Complete Spots: {{ blood_spot_card.blood_spot_card_number_of_complete_spots }}</li>
                        <li>Number of spots smaller than dotted circle: {{ blood_spot_card.blood_spot_card_number_of_dots_smaller_than_dotted_circle }}</li>
                        <li>Number of dotted circles missing blood spot: {{ blood_spot_card.blood_spot_card_number_of_dotted_circle_missing_blood_spot }}</li>
                    </ul>
                {% endif %}
                {% for aliquot in blood_aliquots %}
                    <h3>{{ aliquot.get_aliquot_blood_type_display }} {{ aliquot.get_aliquot_vial_size_display }}  {{ aliquot.get_aliquot_cap_color_display }}</h3>
                        <ul>
                            {% if aliquot.aliquot_number_of_tubes_collected == aliquot.aliquot_max_number_of_tubes_collected %}
                                <li>All collected? Yes</li>
                            {% else %}
                                <li>All collected? No</li>
                            <li>Number of aliquots collected: {{ aliquot.aliquot_number_of_tubes_collected }}</li>
                            <li>If partial what amount: {{ aliquot.aliquot_estimated_volume_of_partial }}</li>
                            {% endif %}
                        </ul>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if frozen_form  %}
        <div id="shipped_to_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_frozen_blood_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Frozen Form</h2>
              {{ frozen_form.non_field_errors }}
              {{ frozen_form.has_error }}
              {{ frozen_form.errors }}
              <div class="form-group">
                {{ frozen_form.freezer_placed_date_time.errors }}
                <label for="{{ frozen_form.freezer_placed_date_time.id_for_label }}" class="form-label">{{ frozen_form.freezer_placed_date_time.label}}</label>
                {{ frozen_form.freezer_placed_date_time }}
              </div>
              <div class="form-group">
                {{ frozen_form.number_of_tubes.errors }}
                <label for="{{ frozen_form.number_of_tubes.id_for_label }}" class="form-label">{{ frozen_form.number_of_tubes.label}}</label>
                {{ frozen_form.number_of_tubes }}
              </div>
              <div class="form-group">
                {{ frozen_form.blood_spot_card_placed_in_freezer.errors }}
                <label for="{{ frozen_form.blood_spot_card_placed_in_freezer.id_for_label }}" class="form-label">{{ frozen_form.blood_spot_card_placed_in_freezer.label}}</label>
                {{ frozen_form.blood_spot_card_placed_in_freezer }}
              </div>
              <div class="form-group">
                {{ frozen_form.notes_and_deviations.errors }}
                <label for="{{ frozen_form.notes_and_deviations.id_for_label }}" class="form-label">{{ frozen_form.notes_and_deviations.label}}</label>
                {{ frozen_form.notes_and_deviations }}
              </div>

          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.status_fk.frozen_fk %}
        <div id="frozen_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Frozen</button>
            </div>
            <div class="col-8">
                <div>Date/time cryovials were placed in the freezer: {{ caregiver_bio.status_fk.frozen_fk.freezer_placed_date_time }}</div>
                <div>Total number of tubes (not including bloodspot card): {{ caregiver_bio.status_fk.frozen_fk.number_of_tubes }}</div>
                <div>Date/time bloodspot card was placed in the freezer:: {{ caregiver_bio.status_fk.frozen_fk.blood_spot_card_placed_in_freezer }}</div>
                <div>Notes: {{ caregiver_bio.status_fk.frozen_fk.notes_and_deviations }}</div>
            </div>
        </div>
    {% endif %}
    {% if shipped_wsu_form %}
        <div id="shipped_to_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_wsu_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to WSU Form</h2>
              {{ shipped_wsu_form.non_field_errors }}
              {{ shipped_wsu_form.has_error }}
              {{ shipped_wsu_form.errors }}
              <div class="form-group">
                {{ shipped_wsu_form.shipped_date_and_time.errors }}
                <label for="{{ shipped_wsu_form.shipped_date_and_time.id_for_label }}" class="form-label">{{shipped_wsu_form.shipped_date_and_time.label }}</label>
                {{ shipped_wsu_form.shipped_date_and_time }}
              </div>
              <div class="form-group">
                {{ shipped_wsu_form.number_of_tubes.errors }}
                <label for="{{ shipped_wsu_form.number_of_tubes.id_for_label }}" class="form-label">{{shipped_wsu_form.number_of_tubes.label }}</label>
                {{ shipped_wsu_form.number_of_tubes }}
              </div>
              <div class="form-group">
                {{ shipped_wsu_form.courier.errors }}
                <label for="{{ shipped_wsu_form.courier.id_for_label }}" class="form-label">{{shipped_wsu_form.courier.label }}</label>
                {{ shipped_wsu_form.courier }}
              </div>
              <div class="form-group">
                {{ shipped_wsu_form.tracking_number.errors }}
                <label for="{{ shipped_wsu_form.tracking_number.id_for_label }}" class="form-label">{{shipped_wsu_form.tracking_number.label }}</label>
                {{ shipped_wsu_form.tracking_number }}
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif shipped_to_wsu_item %}
        <div id="received_at_wsuinformation" class="row border border-primary p-3 rounded">
            <div class="col-4">
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped to WSU</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time: {{ caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_and_time }}</div>
                <div>Number of Tubes: {{ caregiver_bio.status_fk.shipped_wsu_fk.number_of_tubes }}</div>
                <div>Courier: {{ caregiver_bio.status_fk.shipped_wsu_fk.get_courier_display }}</div>
                <div>Tracking Number: {{ caregiver_bio.status_fk.shipped_wsu_fk.tracking_number }}</div>
            </div>
        </div>
    {% endif %}
    {% if received_wsu_form and not caregiver_bio.status_fk.received_wsu_fk.received_date_time %}
        <div id="received_at_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_received_wsu_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Received at WSU Form</h2>
              {{ received_wsu_form.non_field_errors }}
              <div class="form-group">
                {{ received_wsu_form.shipped_date_and_time.errors }}
                <label for="{{ received_wsu_form.shipped_date_and_time.id_for_label }}" class="form-label">Received Date Time:</label>
                {{ received_wsu_form.received_date_time }}
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.received_wsu_fk.received_date_time %}
        <div id="received_at_wsuinformation" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Received at WSU</button>
            </div>
            <div class="col-8">
                <div>Received at WSU {{ caregiver_bio.status_fk.received_wsu_fk.received_date_time }}</div>
                {% for blood in caregiver_bloods_received_wsu %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if shipped_echo_form and not caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_echo_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to ECHO Form</h2>
                 {{ shipped_echo_form.non_field_errors }}
              <div class="form-group">
                {{ shipped_echo_form.shipped_date_and_time.errors }}
                <label for="{{ shipped_echo_form.shipped_date_and_time.id_for_label }}" class="form-label">Shipped Date Time:</label>
                {{ shipped_echo_form.shipped_date_and_time }}
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.shipped_echo_fk and caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped Echo</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time: {{ caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time }}</div>
            </div>
        </div>

    {% endif %}
{% endblock %}
{% block second_javascript %}
    <script type="text/javascript" src="/static/biospecimen/js/blood_collected.js"></script>
    <script type="text/javascript" src="/static/biospecimen/js/blood_processed.js"></script>
{% endblock %}