{% extends "biospecimen/caregiver_biospecimen_entry_base.html" %}
{% block json_script %}
    <script src="/static/biospecimen/js/blood_component.js" async></script>
{% endblock %}
{% block bio_logic %}
    {% if caregiver_bio.status_fk and caregiver_bio.status_fk.collected_fk and not caregiver_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Collected Form</h2>
            {{ collected_form.non_field_errors }}
              <div class="form-group">
                {{ collected_form.collected_date_time.errors }}
                <label for="{{ collected_form.collected_date_time.id_for_label }}" class="form-label">Collected Date Time:</label>
                {{ collected_form.collected_date_time }}
              </div>
              <div class="form-group">
                {{ collected_form.processed_date_time.errors }}
                <label for="{{ collected_form.processed_date_time.id_for_label }}" class="form-label">Processed Date Time:</label>
                {{ collected_form.processed_date_time }}
              </div>
              <div class="form-group">
                {{ collected_form.stored_date_time.errors }}
                <label for="{{ collected_form.stored_date_time.id_for_label }}" class="form-label">Stored Date Time:</label>
                {{ collected_form.stored_date_time }}
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ collected_form.whole_blood.errors }}
                    <label for="{{ collected_form.whole_blood.id_for_label }}" class="col-form-label">Whole Blood:</label>
                    {{ collected_form.whole_blood }}
                  </div>
                  <div class="col-auto" id="whole_blood_number_of_tubes_div">
                    {{ collected_form.whole_blood_number_of_tubes.errors }}
                    <label for="{{ collected_form.whole_blood_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ collected_form.whole_blood_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ collected_form.plasma.errors }}
                    <label for="{{ collected_form.plasma.id_for_label }}" class="col-form-label">Plasma:</label>
                    {{ collected_form.plasma }}
                  </div>
                  <div class="col-auto">
                    {{ collected_form.plasma_number_of_tubes.errors }}
                    <label for="{{ collected_form.plasma_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ collected_form.plasma_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ collected_form.buffy_coat.errors }}
                    <label for="{{ collected_form.buffy_coat.id_for_label }}" class="col-form-label">Buffy Coat:</label>
                    {{ collected_form.buffy_coat }}
                  </div>
                  <div class="col-auto">
                    {{ collected_form.buffy_coat_number_of_tubes.errors }}
                    <label for="{{ collected_form.buffy_coat_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ collected_form.buffy_coat_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ collected_form.red_blood_cells.errors }}
                    <label for="{{ collected_form.red_blood_cells.id_for_label }}" class="col-form-label">Red Blood Cells:</label>
                    {{ collected_form.red_blood_cells }}
                  </div>
                  <div class="col-auto">
                    {{ collected_form.red_blood_cells_number_of_tubes.errors }}
                    <label for="{{ collected_form.red_blood_cells_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ collected_form.red_blood_cells_number_of_tubes }}
                  </div>
              </div>
              <div class="row g-3">
                  <div class="col-auto">
                    {{ collected_form.serum.errors }}
                    <label for="{{ collected_form.serum.id_for_label }}" class="col-form-label">Serum:</label>
                    {{ collected_form.serum }}
                  </div>
                  <div class="col-auto">
                    {{ collected_form.serum_number_of_tubes.errors }}
                    <label for="{{ collected_form.serum_number_of_tubes.id_for_label }}" class="col-form-label">Number of Tubes:</label>
                    {{ collected_form.serum_number_of_tubes }}
                  </div>
              </div>
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk and caregiver_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_blood_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Collected</button>
            </div>
            <div class="col-8">
                <div>Collected Date Time:{{ caregiver_bio.status_fk.collected_fk.collected_date_time }}</div>
                <div>Processed Date Time:{{ caregiver_bio.status_fk.collected_fk.processed_date_time}}</div>
                <div>Stored Date Time:{{ caregiver_bio.status_fk.collected_fk.stored_date_time  }}</div>
                <div>Number of Tubes: {{ caregiver_bio.status_fk.collected_fk.number_of_tubes }}</div>
                <div>Logged By:{{ caregiver_bio.status_fk.collected_fk.logged_by }}</div>
                {% for blood in caregiver_bloods %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                        {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
    {% endif %}
    {% if incentive_form and not caregiver_bio.incentive_fk.incentive_date%}
        <div id="incentive_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_incentive_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Incentive Form</h2>
            {{ incentive_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.incentive_fk and caregiver_bio.incentive_fk.incentive_date %}
        <div id="incentive_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Incentive Information</button>
            </div>
            <div class="col-8">
                <div>Incentive Date: {{ caregiver_bio.incentive_fk.incentive_date }}</div>
                {% for blood in caregiver_bloods %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if shipped_wsu_form  %}
        <div id="shipped_to_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_wsu_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to WSU Form</h2>
            {{ shipped_wsu_form.as_p }}
              {% for blood in caregiver_bloods %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
              {% endfor %}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.status_fk.shipped_wsu_fk and caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_time %}
        <div id="shipped_to_wsu_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped WSU</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time:{{ caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_time }}</div>
                <div>Courier: {{ caregiver_bio.status_fk.shipped_wsu_fk.get_courier_display }}</div>
                <div>Tracking Number:{{ caregiver_bio.status_fk.shipped_wsu_fk.tracking_number }}</div>
                <div>Number of Tubes: {{ caregiver_bio.status_fk.shipped_wsu_fk.number_of_tubes }}</div>
                <div>Shipped By: {{ caregiver_bio.status_fk.shipped_wsu_fk.shipped_by }}</div>
                {% for blood in caregiver_bloods %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }}: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if received_wsu_form and not caregiver_bio.status_fk.received_wsu_fk.received_date_time %}
        <div id="received_at_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_received_wsu_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Recieved at WSU Form</h2>
            {{ received_wsu_form.as_p }}
              {% for blood in caregiver_bloods %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
              {% endfor %}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.received_wsu_fk.received_date_time %}
        <div id="received_at_wsuinformation" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Received at WSU</button>
            </div>
            <div class="col-8">
                <div>Received at WSU {{ caregiver_bio.status_fk.received_wsu_fk.received_date_time }}</div>
                {% for blood in caregiver_bloods %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if shipped_echo_form and not caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_echo_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to ECHO Form</h2>
                {{ shipped_echo_form.as_p }}
              {% for blood in caregiver_bloods %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }} Number of Tubes: {{ blood.number_of_tubes }}
                      </label>
                    </div>
              {% endfor %}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.shipped_echo_fk and caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped Echo</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time: {{ caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time }}</div>
                {% for blood in caregiver_bloods %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                      <label class="form-check-label" for="flexCheckCheckedDisabled">
                          {{ blood.get_component_type_display }}: {{ blood.number_of_tubes }}
                      </label>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}
{% endblock %}