{% extends "biospecimen/caregiver_biospecimen_entry_base.html" %}
{% block bio_logic %}
    {% if caregiver_bio.status_fk and caregiver_bio.status_fk.collected_fk and not caregiver_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Collected Form</h2>
            {{ collected_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk  %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Collected</button>
            </div>
            <div class="col-8">
                <div>Collected Date Time:{{ caregiver_bio.status_fk.collected_fk.collected_date_time }}</div>
                <div>Processed Date Time:{{ caregiver_bio.status_fk.collected_fk.processed_date_time}}</div>
                <div>Stored Date Time:{{ caregiver_bio.status_fk.collected_fk.stored_date_time  }}</div>
                <div>Number of Tubes: {{ caregiver_bio.status_fk.collected_fk.number_of_tubes }}</div>
                <div>Logged By: {{ caregiver_bio.status_fk.collected_fk.logged_by.username }}</div>
            </div>
        </div>
    {% else %}
    {% endif %}
    {% if caregiver_bio.status_fk.collected_fk.collected_date_time and not caregiver_bio.status_fk.shipped_echo_fk and not caregiver_bio.status_fk.shipped_wsu_fk  %}
        <div id="shipped_choice" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_shipped_choice_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped Choice Form</h2>
            {{ shipped_choice_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.status_fk.shipped_wsu_fk and not caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_time  %}
        <div id="shipped_to_wsu_information_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_wsu_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to WSU Form</h2>
            {{ shipped_wsu_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.status_fk.shipped_wsu_fk and caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_time %}
        <div id="shipped_to_wsu_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped WSU</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time:{{ caregiver_bio.status_fk.shipped_wsu_fk.shipped_date_time }}</div>
                <div>Courier: {{ caregiver_bio.status_fk.shipped_wsu_fk.get_courier_display }}</div>
                <div>Tracking Number:{{ caregiver_bio.status_fk.shipped_wsu_fk.tracking_number }}</div>
                <div>Number of Tubes: {{ caregiver_bio.status_fk.shipped_wsu_fk.number_of_tubes }}</div>
                <div>Shipped By: {{ caregiver_bio.status_fk.shipped_wsu_fk.shipped_by }}</div>
            </div>
        </div>
    {% endif %}
    {% if caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.status_fk.shipped_echo_fk and not caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_form" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_shipped_echo_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to ECHO Form</h2>
                {{ shipped_echo_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif caregiver_bio.status_fk.collected_fk.collected_date_time and caregiver_bio.status_fk.shipped_echo_fk and caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped Echo</button>
            </div>
            <div class="col-8">
                <div>Shipped Date Time: {{ caregiver_bio.status_fk.shipped_echo_fk.shipped_date_time }}</div>
            </div>
        </div>

    {% endif %}
{% endblock %}