{% extends "biospecimen/base.html" %}
{% block header %}Charm ID: {{ charm_project_identifier }}{% endblock %}
{% block section %}
    <div class="row" id="biospecimen_information">
    <div class="col-sm">ID: {{ caregiver_bio.biospecimen_id }}</div>
    <div class="col-sm">Type: {{ caregiver_bio.collection_fk.get_collection_type_display }}</div>
    {#  Not sure what the below object was in the SRO version of this device    #}
    {% if caregiver_bio.trimester_fk %}<div class="col-sm">Trimester: {{ caregiver_bio.trimester_fk.get_trimester_display }}</div>{% endif %}
        <hr/>
    </div>
    {% if not_collected_item %}
        {% if not_collected_form %}
            <div id="not_collected_form" class="row border border-primary p-3 rounded">
              <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_not_collected_post' charm_project_identifier caregiver_bio_pk %}>
              {% csrf_token %}
                  <h2>Not Collected Form</h2>
                    {{ not_collected_form.as_p }}
              <input type="submit" value="Submit" />
              </form>
            </div>
        {% else %}
            <div id="not_collected_information" class="row border border-primary p-3 rounded">
                <div class="col-4">
                    <button type="button" class="btn btn-primary" disabled aria-disabled="true">Not Collected</button>
                </div>
                <div class="col-8">
                    <div>Refused or other: {{ caregiver_bio.status_fk.not_collected_fk.get_refused_or_other_display }}</div>
                    {% if caregiver_bio.status_fk.not_collected_fk.refused_or_other == 'O' %}
                        <div>Other Reason: {{ caregiver_bio.status_fk.not_collected_fk.other_specify_reason }}</div>
                    {% endif %}
                    <div>Logged By: {{ caregiver_bio.status_fk.not_collected_fk.logged_by }}</div>
                </div>
            </div>
        {% endif %}
    {% elif declined_item %}
        {% if declined_form %}
            <div id="declined_form" class="row border border-primary p-3 rounded">
              <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_declined_post' charm_project_identifier caregiver_bio_pk %}>
              {% csrf_token %}
                  <h2>Declined Form</h2>
                    {{ declined_form.as_p }}
              <input type="submit" value="Submit" />
              </form>
            </div>
        {% else %}
            <div id="declined_information" class="row border border-primary p-3 rounded">
                <div class="col-4">
                    <button type="button" class="btn btn-primary" disabled aria-disabled="true">Declined</button>
                </div>
                <div class="col-8">
                    <div>Declined Date Time: {{ caregiver_bio.status_fk.declined_fk.declined_date }}</div>
                    <div>Logged By: {{ caregiver_bio.status_fk.declined_fk.logged_by }}</div>
                </div>
            </div>
        {% endif %}
    {#  Potential bug because collected date time is not required but you have to null it to create it        #}
    {% elif caregiver_bio.status_fk.no_consent_fk %}
        <div id="declined_information" class="row border border-primary p-3 rounded">
        No Consent
        </div>
    {% endif %}
{% endblock %}
{% block second_javascript %}
    <script type="text/javascript" src="/static/biospecimen/js/not_collected.js"></script>
{% endblock %}