{% extends "biospecimen/base.html" %}
{% block header %}Charm ID: {{ charm_project_identifier }}{% endblock %}
{% block section %}
    <div class="row" id="biospecimen_information">
    <div class="col-sm">ID: {{ caregiver_bio.biospecimen_id }}</div>
    <div class="col-sm">Type: {{ caregiver_bio.collection_fk.get_collection_type_display }}</div>
    {#  Not sure what the below object was in the SRO version of this device    #}
        <hr/>
    </div>
    {% if not caregiver_bio.status_fk %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:caregiver_biospecimen_initial_post' charm_project_identifier caregiver_bio_pk %}>
          {% csrf_token %}
              <h2>Initial Form</h2>
            {{ initial_bio_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% else %}
        ERROR
    {% endif %}
{% endblock %}