{% extends "biospecimen/base.html" %}
{% block json_script %}
    <script type="text/javascript" src="/static/biospecimen/js/jquery-3.7.1.js"></script>
    <script src="/static/biospecimen/js/filter_charm_ids.js" async></script>
{% endblock %}
{% block header %}Charm ID:{% endblock %}
{% block section %}
    <form class="p-2 mb-2 bg-body-tertiary border-bottom">
        <input type="text" class="form-control" id="myInput" placeholder="Search for id..">
    </form>
    <ul class="list-group" id="myList">
        {% for charm_id in list_of_charm_ids %}
            <li class="list-group-item"><a href={% url "biospecimen:list_of_bio_ids" charm_id.charm_project_identifier %}>{{ charm_id.charm_project_identifier }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}