{% extends "biospecimen/base.html" %}
{% block json_script %}
    <script type="text/javascript" src="/static/biospecimen/js/jquery-3.7.1.js"></script>
    <script src="/static/biospecimen/js/filter_charm_ids.js" async></script>
    <script src="/static/biospecimen/js/modal_charm_id_check.js" async></script>
{% endblock %}
{% block header %}Charm ID:{% endblock %}
{% block section %}
    <form class="p-2 mb-2 bg-body-tertiary border-bottom">
        <input type="text" class="form-control" id="myInput" placeholder="Search for id..">
    </form>
    <ul class="list-group" id="myList">
        {% for charm_id in list_of_charm_ids %}
            <li class="list-group-item"><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal"  data-bs-charmid={{ charm_id.charm_project_identifier }}>{{ charm_id.charm_project_identifier }}</button></li>
{#            <li class="list-group-item"><a data-bs-toggle="modal" data-target="#exampleModalCenter" href={% url "biospecimen:list_of_bio_ids" charm_id.charm_project_identifier %}>{{ charm_id.charm_project_identifier }}</a></li>#}
        {% endfor %}
    </ul>
        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
{#              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href={% url "biospecimen:list_of_bio_ids" charm_id.charm_project_identifier %}>Confirm</a></button>#}
{#            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a id="modal-link">Confirm</a></button>#}
                {#     the below doesn't work it just refreshes the page instead of going to new page.  Although it looks correct in HTML         #}
{#              <a type="button" id='modal-link' class="btn btn-secondary btn-lg" data-bs-dismiss="modal" data-bs-dismiss="modal">Confirm</a>#}
{#              for some reaon the data-bs-dismiss property was causing the confirm button not work...#}
              <a type="button" id='modal-link' class="btn btn-secondary btn-lg">Confirm</a>
              <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    {#  Below is needed to reload javascript when user hits back button (which I imagine will happen)  #}
    {#  https://stackoverflow.com/questions/9046184/reload-the-site-when-reached-via-browsers-back-button  #}
    <input type="hidden" id="refresh" value="no">
{% endblock %}