{% extends "biospecimen/base.html" %}
{% block section %}
    <div class="row" id="biospecimen_information">
    <div class="col-sm">Charm ID: {{ child_bio.child_fk.charm_project_identifier }}</div>
    <div class="col-sm">Biospecimen ID: {{ child_bio.biospecimen_id|default:"" }}</div>
    <div class="col-sm">Type: {{ collection_type_display }}</div>
    {#  Not sure what the below object was in the SRO version of this device    #}
    <div class="col-sm">Log Status: {{ childbio }}</div>
        <hr/>
    </div>
    {% if not child_bio.status_fk %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Initial Form</h2>
            {{ initial_bio_form.as_p }}
          <input type="submit" value="Submit" name="initial_bio_form_button"/>
          </form>
        </div>
    {% elif child_bio.status_fk and child_bio.status_fk.declined_fk and not child_bio.status_fk.declined_fk.declined_date %}
        <div id="declined_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Declined Form</h2>
            {{ declined_form.as_p }}
          <input type="submit" value="Submit" name="declined_form_button"/>
          </form>
        </div>
    {% elif child_bio.status_fk and child_bio.status_fk.declined_fk and child_bio.status_fk.declined_fk.declined_date %}
        <div id="declined_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Declined</button>
            </div>
            <div class="col-8">
                <div>Declined Date:{{ child_bio.status_fk.declined_fk.declined_date }}</div>
            </div>
        </div>
    {% elif child_bio.status_fk and  child_bio.status_fk.not_collected_fk %}
        <div id="no_consent_information" class="row border border-primary p-3 rounded">
        Not Collected
        </div>
    {#  Potential bug because collected date time is not required but you have to null it to create it        #}
    {% else %}

    {% endif %}
    {% if kit_sent_form and child_bio.status_fk.kit_sent_fk %}
        <div id="initial_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Kit Sent Form</h2>
            {{ kit_sent_form.as_p }}
          <input type="submit" value="Submit" name="kit_sent_form_button"/>
          </form>
        </div>
    {% elif child_bio.status_fk.kit_sent_fk and child_bio.status_fk.kit_sent_fk.kit_sent_date  %}
        <div id="kit_sent_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Kit Sent</button>
            </div>
            <div class="col-8">
                <div>Kit Sent Date:{{ child_bio.status_fk.kit_sent_fk.kit_sent_date }}</div>
            </div>
        </div>
    {% endif %}
    {% if collected_child_form and not child_bio.status_fk.collected_fk %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Collected Form</h2>
            {{ collected_child_form.as_p }}
          <input type="submit" value="Submit" name="collected_form_button"/>
          </form>
        </div>
    {% elif child_bio.status_fk.collected_fk.received_date or child_bio.status_fk.collected_fk.collected_date_time %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Collected</button>
            </div>
            <div class="col-8">
                {% if child_bio.collection_fk.collection_type == TOOTH %}
                    <div>Date Collected: {{ child_bio.status_fk.collected_fk.collected_date_time }}</div>
                {% endif %}
                {% if child_bio.collection_fk.collection_type in urine_stool %}
                    <div>Number of Tubes: {{ child_bio.status_fk.collected_fk.number_of_tubes }}</div>
                {% elif child_bio.collection_fk.collection_type == BLOODSPOT and child_bio.age_category_fk.age_category == ZERO_TO_FIVE_MONTHS %}
                    <div>Number of Cards: {{ child_bio.status_fk.collected_fk.number_of_cards }}</div>
                {% endif %}
                {% if child_bio.collection_fk.collection_type != TOOTH  %}
                <div>Date Received: {{ child_bio.status_fk.collected_fk.received_date }}</div>
                <div>In Person or Remote: {{ child_bio.status_fk.collected_fk.get_in_person_remote_display  }}</div>
                {% endif %}
                <div>Logged By: {{ child_bio.status_fk.collected_fk.logged_by.username }}</div>
            </div>
        </div>
    {% endif %}
    {% if incentive_form and not child_bio.incentive_fk.incentive_date %}
        <div id="incentive_form_div" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Incentive Form</h2>
            {{ incentive_form.as_p }}
          <input type="submit" value="Submit" name="incentive_form_button"/>
          </form>
        </div>
    {% elif child_bio.incentive_fk.incentive_date %}
        <div id="shipped_to_echo_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Incentive:</button>
            </div>
            <div class="col-8">
                <div>Incentive Date: {{ child_bio.incentive_fk.incentive_date }}</div>
            </div>
        </div>
    {% endif %}
    {% if shipped_choice_form %}
        <div id="shipped_choice_form_div" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped Choice Form</h2>
            {{ shipped_choice_form.as_p }}
          <input type="submit" value="Submit" name="shipped_choice_form_button"/>
          </form>
        </div>
    {% endif %}
    {% if shipped_to_wsu_form and not child_bio.status_fk.shipped_wsu_fk.shipped_date_time %}
        <div id="shipped_to_wsu_div" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to WSU Form</h2>
            {{ shipped_to_wsu_form.as_p }}
          <input type="submit" value="Submit" name="shipped_to_wsu_form_button"/>
          </form>
        </div>
    {% elif child_bio.status_fk.shipped_wsu_fk.shipped_date_time  %}
        <div id="shipped_to_wsu_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped to WSU:</button>
            </div>
            <div class="col-8">
                <div>Shipped to WSU Date: {{ child_bio.status_fk.shipped_wsu_fk.shipped_date_time }}</div>
            </div>
        </div>
    {% endif %}
    {% if received_at_wsu_form and not child_bio.status_fk.received_wsu_fk.received_date_time %}
         <div id="received_at_wsu_div" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Received at WSU Form</h2>
            {{ received_at_wsu_form.as_p }}
          <input type="submit" value="Submit" name="received_at_wsu_form_button"/>
          </form>
        </div>
    {% elif child_bio.status_fk.received_wsu_fk.received_date_time %}
        <div id="received_at_wsu_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Received WSU</button>
            </div>
            <div class="col-8">
                <div>Received at WSU Date: {{ child_bio.status_fk.received_wsu_fk.received_date_time }}</div>
            </div>
        </div>
    {% endif %}
    {% if shipped_to_echo_form and not child_bio.status_fk.shipped_echo_fk.shipped_date_time %}
        <div id="shipped_to_echo_div" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Shipped to Echo Form</h2>
            {{ shipped_to_echo_form.as_p }}
          <input type="submit" value="Submit" name="shipped_to_echo_form_button"/>
          </form>
        </div>
    {% elif child_bio.status_fk.shipped_echo_fk.shipped_date_time  %}
        <div id="shipped_to_echo_information" class="row border border-primary p-3 rounded">
            <div class="col-4">
                {# TODO ADD FILTER TAG  #}
                {#       https://stackoverflow.com/questions/6571649/model-name-of-objects-in-django-templates         #}
                <button type="button" class="btn btn-primary" disabled aria-disabled="true">Shipped to Echo:</button>
            </div>
            <div class="col-8">
                <div>Shipped to Echo Date: {{ child_bio.status_fk.shipped_echo_fk.shipped_date_time }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}