{% extends "dataview/base.html" %}
{% block section %}
    <div class="row" id="biospecimen_information">
    <div class="col-sm">ID: {{ child_bio.child_fk.charm_project_identifier }}</div>
    <div class="col-sm">Type: {{ child_bio.collection_fk.collection_type_fk.collection_type }}</div>
    {#  Not sure what the below object was in the SRO version of this device    #}
    <div class="col-sm">Log Status: {{ childbio }}</div>
        <hr/>
    </div>
    {% if not child_bio.status_fk %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Initial Form</h2>
            {{ initial_bio_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% elif child_bio.status_fk and child_bio.status_fk.no_consent_fk %}
        <div id="not_collected_information" class="row border border-primary p-3 rounded">
        No Consent
        </div>
    {% elif child_bio.status_fk and  caregiver_bio.status_fk.not_collected_fk %}
        <div id="no_consent_information" class="row border border-primary p-3 rounded">
        Not Collected
        </div>
    {#  Potential bug because collected date time is not required but you have to null it to create it        #}
    {% else %}

    {% endif %}
    {% if kit_sent_form %}
        <div id="collected_information" class="row border border-primary p-3 rounded">
          <form method="POST" action={% url 'biospecimen:child_biospecimen_page_initial' child_charm_id child_bio_pk %}>
          {% csrf_token %}
              <h2>Kit Sent Form</h2>
            {{ kit_sent_form.as_p }}
          <input type="submit" value="Submit" />
          </form>
        </div>
    {% else %}
        WHY NO KIT SENT
    {% endif %}
{% endblock %}