@media print {
    @page {
        size:  letter portrait;
        margin-left:auto;
        margin-right:auto;
        width:auto;
    }
    body{
        width:fit-content;
    }
    .table-responsive{
        width:fit-content;
    }
}
