@media print {
    @page {
        size:  letter portrait;
        margin-left:auto;
        margin-right:auto;
        width:auto;
    }
    body{
        width:fit-content;
    }
    .table-responsive{
        width:fit-content;
    }

    div#collected_urine_report_container,
    div#shipped_to_wsu_urine_report_container,
    div#received_at_wsu_urine_report_container,
    div#shipped_to_echo_urine_report_container,
    div#collected_blood_report_container,
    div#shipped_to_wsu_blood_report_container,
    div#received_at_wsu_blood_report_container,
    div#shipped_to_echo_blood_report_container
    {
        page-break-after: always;
        border-style:none !important;
        width:fit-content !important;
    }

}
